<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="#home" class="navigation-links-link"><span>About</span></a>
    <a href="#features" class="navigation-links-link1"><span>Features</span></a>
    <a href="#mission" class="navigation-links-link2"><span>Mission</span></a>
    <a href="#contact" class="navigation-links-link3"><span>Contact</span></a>
    <a href="#support" class="navigation-links-link4"><span>Support</span></a>
  </nav>
</div>
